.venv
#lsp
.clangd
veridian.yml

# rtl backups
rtl/*.bak
rtl/platform/*.bak

# quartus output
syn/output_files/
syn/dni/
syn/ip/RESET_RELEASE/
syn/ip/.qsys_edit/
syn/qdb/

# verilator output
sim/obj_dir/
sim/ppcsender
sim/rect

