
#lsp
.clangd
compile_flags.txt
.slang/
.svlangserver/
veridian.yml
.rules.verible_lint

# rtl backups
rtl/*.bak
rtl/platform/*.bak

# fusesoc output
build/

sw/firmware.vmem
sw/firmware.map
sw/firmware.bin
sw/firmware.elf

# venv
.venv/

.ignore
